<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <title>cassert</title>
</head>
<body>

<div id="I_content">
<div class="C_doc">
<div id="I_type">header</div>
<h1>&lt;cassert&gt; (assert.h)</h1>
<div id="I_description">C Diagnostics Library</div>
<section id="description">
<code>assert.h</code><font _mstmutation="1"> defines one macro function that can be used as a standard debugging tool:</font><br>
</section>
<br>
<section id="functions">
<h3>Macro functions</h3>
<dl class="links"><dt><a href="/reference/cassert/assert/"><b>assert</b></a></dt><dd>Evaluate assertion <span class="typ">(macro
)</span></dd></dl>
</section></div><div id="CH_bb"></div></div>

</body>
</html>