<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <meta charset="UTF-8">
    <title>reference</title>
</head>
<body>
<div class="C_doc">
    <h1>Reference</h1>

<dl class="links"><dt><a href="/cassert/"><b>&lt;cassert&gt; (assert.h)</b></a></dt><dd>C Diagnostics Library <span class="typ">(header)</span></dd></dl>
    <dl class="links"><dt><a href="/reference/cctype/"><b>&lt;cctype&gt; (ctype.h)</b></a></dt><dd>Character handling functions <span class="typ">(header)</span></dd></dl>
<dl class="links"><dt><a href="/reference/cctype/"><b>&lt;cctype&gt; (ctype.h)</b></a></dt><dd>Character handling functions <span class="typ">(header)</span></dd></dl>

    <dl class="links">
        <dt><a href="/reference/algorithm/"><b>&lt;algorithm&gt;</b></a></dt>
        <dd>Standard Template Library: Algorithms <span class="typ">(library
)</span></dd>
    </dl>
    <dl class="links">
        <dt><a href="/reference/chrono/"><b>&lt;chrono&gt;</b></a></dt>
        <dd>Time library <span class="typ">(header)</span></dd>
    </dl>
    <dl class="links">
        <dt><a href="/reference/codecvt/"><b>&lt;codecvt&gt;</b></a></dt>
        <dd>Unicode conversion facets <span class="typ">(header)</span></dd>
    </dl>
    <dl class="links">
        <dt><a href="/reference/complex/"><b>&lt;complex&gt;</b></a></dt>
        <dd>Complex numbers library <span class="typ">(header)</span></dd>
    </dl>
    <dl class="links">
        <dt><a href="/reference/exception/"><b>&lt;exception&gt;</b></a></dt>
        <dd>Standard exceptions <span class="typ">(header)</span></dd>
    </dl>
    <dl class="links">
        <dt><a href="/reference/functional/"><b>&lt;functional&gt;</b></a></dt>
        <dd>Function objects <span class="typ">(header)</span></dd>
    </dl>
    <dl class="links">
        <dt><a href="/reference/initializer_list/"><b>&lt;initializer_list&gt;</b></a></dt>
        <dd>Initializer list <span class="typ">(header)</span></dd>
    </dl>
    <dl class="links">
        <dt><a href="/reference/iterator/"><b>&lt;iterator&gt;</b></a></dt>
        <dd>Iterator definitions <span class="typ">(header)</span></dd>
    </dl>
    <dl class="links">
        <dt><a href="/reference/limits/"><b>&lt;limits&gt;</b></a></dt>
        <dd>Numeric limits <span class="typ">(header)</span></dd>
    </dl>
    <dl class="links">
        <dt><a href="/reference/locale/"><b>&lt;locale&gt;</b></a></dt>
        <dd>Localization library <span class="typ">(header)</span></dd>
    </dl>
    <dl class="links">
        <dt><a href="/reference/memory/"><b>&lt;memory&gt;</b></a></dt>
        <dd>Memory elements <span class="typ">(header)</span></dd>
    </dl>
    <dl class="links">
        <dt><a href="/reference/new/"><b>&lt;new&gt;</b></a></dt>
        <dd>Dynamic memory <span class="typ">(header)</span></dd>
    </dl>
    <dl class="links">
        <dt><a href="/reference/numeric/"><b>&lt;numeric&gt;</b></a></dt>
        <dd>Generalized numeric operations <span class="typ">(header)</span></dd>
    </dl>
    <dl class="links">
        <dt><a href="/reference/random/"><b>&lt;random&gt;</b></a></dt>
        <dd>Random <span class="typ">(header)</span></dd>
    </dl>
    <dl class="links">
        <dt><a href="/reference/ratio/"><b>&lt;ratio&gt;</b></a></dt>
        <dd>Ratio header <span class="typ">(header)</span></dd>
    </dl>
    <dl class="links">
        <dt><a href="/reference/regex/"><b>&lt;regex&gt;</b></a></dt>
        <dd>Regular Expressions <span class="typ">(header)</span></dd>
    </dl>
    <dl class="links">
        <dt><a href="/reference/stdexcept/"><b>&lt;stdexcept&gt;</b></a></dt>
        <dd>Exception classes <span class="typ">(header)</span></dd>
    </dl>
    <dl class="links">
        <dt><a href="/reference/string/"><b>&lt;string&gt;</b></a></dt>
        <dd>Strings <span class="typ">(header)</span></dd>
    </dl>
    <dl class="links">
        <dt><a href="/reference/system_error/"><b>&lt;system_error&gt;</b></a></dt>
        <dd>System errors <span class="typ">(header)</span></dd>
    </dl>
    <dl class="links">
        <dt><a href="/reference/tuple/"><b>&lt;tuple&gt;</b></a></dt>
        <dd>Tuple library <span class="typ">(header)</span></dd>
    </dl>
    <dl class="links">
        <dt><a href="/reference/typeindex/"><b>&lt;typeindex&gt;</b></a></dt>
        <dd>Type index <span class="typ">(header)</span></dd>
    </dl>
    <dl class="links">
        <dt><a href="/reference/typeinfo/"><b>&lt;typeinfo&gt;</b></a></dt>
        <dd>Type information <span class="typ">(header)</span></dd>
    </dl>
    <dl class="links">
        <dt><a href="/reference/type_traits/"><b>&lt;type_traits&gt;</b></a></dt>
        <dd>type_traits <span class="typ">(header)</span></dd>
    </dl>
    <dl class="links">
        <dt><a href="/reference/utility/"><b>&lt;utility&gt;</b></a></dt>
        <dd>Utility components <span class="typ">(header)</span></dd>
    </dl>
    <dl class="links">
        <dt><a href="/reference/valarray/"><b>&lt;valarray&gt;</b></a></dt>
        <dd>Library for arrays of numeric values <span class="typ">(header)</span></dd>
    </dl>

</div>
</body>
</html>