<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sourcecode</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css"
</head>
<body>
<h1>样例代码</h1>
<div id="CH_content"></div>
<table class="C_artList">
    <tbody>
    <tr>
        <th></th>
        <th><a href="/articles/?by=date" title="sort by date (oldest first)">发布日期 </a></th>
        <th><a href="/articles/?by=scoredesc" title="sort by score">收藏数</a></th>
    </tr>
    <tr class="odd">
        <td class="elem">
            <a href="/code/">
                <span class="title">hive</span>
            </a>
            <span class="author">&nbsp;by
                <a href="/code/">apache</a></span>
            <div class="cat"> <a href="/articles/tips/">/serde/src/gen/thrift/gen-cpp/megastruct_types.cpp</a></div>
        </td>
        <td class="date"><br><span class="updated">Updated: 1 hour ago</span></td>
        <td class="votes"><br>4.2k
        </td>
    </tr>
    <tr class="odd">
        <td class="elem">
            <a href="/code/">
                <span class="title">flint2</span>
            </a>
            <span class="author">&nbsp;by
                <a href="/user/PVSCoder/">fredrik-johansson</a></span>
            <div class="cat"> <a href="/articles/tips/">/flintxx/test/t-fmpq_polyxx.cpp</a></div>
        </td>
        <td class="date"><br><span class="updated">Updated:26 Nov 2021</span></td>
        <td class="votes"><br>765
        </td>
    </tr>
    <tr class="odd">
        <td class="elem">
            <a href="/code/">
                <span class="title">exmap</span>
            </a>
            <span class="author">&nbsp;by
                <a href="/user/PVSCoder/">cxreg</a></span>
            <div class="cat"> <a href="/articles/tips/">/src/Exmap.cpp</a></div>
        </td>
        <td class="date"><br><span class="updated">Updated:15 Jan 2022</span></td>
        <td class="votes"><br>482
        </td>
    </tr>
    <tr class="odd">
        <td class="elem">
            <a href="/code/">
                <span class="title">flint2</span>
            </a>
            <span class="author">&nbsp;by
                <a href="/user/PVSCoder/">fredrik-johansson</a></span>
            <div class="cat"> <a href="/articles/tips/">/flintxx/test/t-fmpq_polyxx.cpp</a></div>
        </td>
        <td class="date"><br><span class="updated">Updated:7 Sep 2021</span></td>
        <td class="votes"><br>774
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>