<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sourcecode</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css"
</head>
<body>
<h1>样例代码</h1>
<div id="CH_content"></div>
<table class="C_artList">
    <tbody>
    <tr>
        <th></th>
        <th><a href="/articles/?by=date" title="sort by date (oldest first)">发布日期 </a></th>
        <th><a href="/articles/?by=scoredesc" title="sort by score">收藏数</a></th>
    </tr>
    <tr class="odd">
        <td class="elem">
            <a href="/code/">
                <span class="title">res</span>
            </a>
            <span class="author">&nbsp;by
                <a href="/code/">kbe</a></span>
            <div class="cat"> <a href="/articles/tips/">scripts\common\Lib\pickletools.py_</a></div>
        </td>
        <td class="date"><br><span class="updated">13 Sep 2018</span></td>
        <td class="votes"><br>3
        </td>
    </tr>

    </tbody>
</table>
</body>
</html>