<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>suiyi</title>
    <link href="/static/qingning.css" rel="stylesheet"/>
    <link rel="manifest" href="manifest.json">
    <link rel="canonical" href="https://limestart.cn/">
    <link rel="shortcut icon" href="/static/teio.gif">
    <link rel="apple-touch-icon" href="https://cdn.jsdelivr.net/gh/MobiusBeta/assets/images/apple-touch-icon-lime.png">
    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
    <script>
function getquestion(){



    $.ajax({
    url: '../getAnswerText',
    data : {

    },


    success: function (data) {

            document.getElementById("quoteContent1").innerHTML="问题 :      「 "+data+" 」\n 回答";


    }
});}
</script>
<script >
        function inputSearch(){
            var info=document.getElementById("inputSearch").value.toString();

    $.ajax({
    url: '../inputSearch',
    data : {
        'content': ""+info,
        'bar': "b"
    },
        type:"POST",

    success: function (data) {

        if(data.localeCompare("none"))
        {
            if(!data.localeCompare("/answer"))
            window.location=data;
            else
            {
                getquestion()
            }
        }
        else
        {
            alert("十分抱歉，没有找到答案");
            var info=document.getElementById("Query").placeholder="搜索";
        }


    }
});}

    </script>
    <script>
        function traditionSearch(){
             window.location="/answer";
        }
    </script>
<script>
    function clickInput(){
        document.getElementById("body").className="search";
         document.getElementById("bgBox").className="focus";
         document.getElementById("bgBox").style="display: block; opacity: 1; transform: scale(1.1);";
         document.getElementById("quoteContainer").className="waves-effect waves-light ";
    }
</script>
 <script>
    function clickBack(){

            document.getElementById("body").className="";
            document.getElementById("bgBox").className="";
            document.getElementById("bgBox").style="display: block; opacity: 1;";
            document.getElementById("quoteContainer").className="waves-effect waves-light hide";


    }
</script>


</head>
<body id="body" class >
<div id="bodyBox">
    <video id="liveBgBox" autoplay="" loop="" muted=""></video>
    <img id="bgBox" class="" src="/static/星空2.jpeg"
         style="display: block; opacity: 1;"  >
    <div class="cover" id="cover" style="opacity: 1;" onclick="clickBack()"></div>
    <div id="searchBar" style="opacity: 1;"><input type="text" id="inputSearch" name="word" size="30" placeholder="搜索"
                                                   autocomplete="off"  onclick="clickInput()">
        <div class="searchBarBtn" id="btnSearchEng" ><i id="iconSearchEng"  onclick="traditionSearch()"> </i></div>
        <div class="searchBarBtn" id="btnSearch" ><i onclick="inputSearch()"></i></div>
    </div>
    <div id="searchSuggestionContainer" style="height: auto; opacity: 0; display: none;"></div>
    <div class="menu" id="menuSearchEng"></div>
    <div class="menu" id="menuBasics"
         style="transform-origin: 0% 0%; left: 358px; top: 217px; display: none; opacity: 0; transform: scale(0.5);">
        <div class="basicsMenuItem disabled" id="basicsMenuCut"><i></i>剪切</div>
        <div class="basicsMenuItem disabled" id="basicsMenuCopy"><i></i>复制</div>
        <div class="basicsMenuItem" id="basicsMenuPaste"><i></i>粘贴</div>
    </div>

    <div class="tipBox" id="tipBoxCopyPaste"></div>


    <div class="waves-effect waves-light hide" id="quoteContainer"
         style="animation: 0s ease 0s 1 normal none running none;">



        <span id="quoteBg"></span>

        <p id="quoteContent">「 直接输入问题即可回答 」</p>
        <p id="quoteSource">——问答系统1.0</p>
        <button id="btnQuoteMenu" title="选项"><i></i></button>
    </div>
    <div class="waves-effect waves-light " id="quoteContainer1"
         style="animation: 0s ease 0s 1 normal none running none;">



        <span id="quoteBg"></span>

        <p id="quoteContent1" >「 直接输入问题即可回答1 」</p>
        <p id="quoteSource">——问答系统1.0</p>
        <button id="btnQuoteMenu" title="选项"><i></i></button>
    </div>



    <div id="timeContainer" style=""><h1 id="timeText">方法查询</h1></div>




    <div id="pinnedNoteContainer"></div>

    <footer>
        <div id="footerBox"> <a href="https://www.bjut.edu.cn/" title="" target="_blank" class="links"
                                      id="copyrightOwner1">18080112 王冠</a><a href="https://www.bjut.edu.cn/"
                                                                            target="_blank" class="links"
                                                                            id="copyrightOwner2"></a>  </div>
    </footer>












    </div>

</div>



</body>
</html>